* {
    border: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

.game, .container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.container {
    flex-direction: column;
}

#play {
    width: 100%;
}

input[type=text] {
    height: 30px;
    width: 100%;
}

button {
    height: 30px;
    width: 100%;
}